name: chocolatine

env:
  MIRROR_URL: 'git@github.com:EpitechPromo2027/B-ASM-400-LIL-4-1-asmminilibc-malo.durand.git'
  EXECUTABLES: 'main'

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - 'ga-ignore-**'
  pull_request:
    branches-ignore:
      - 'ga-ignore-**'

jobs:
  run_tests:
    runs-on: ubuntu-latest
    container:
      image: epitechcontent/epitest-docker:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
        with:
          fetch-depth: 0

      - name: Make
        timeout-minutes: 2
        run: make

      - name: Make Clean
        run: make clean

      - name: Run tests
        timeout-minutes: 2
        run: make tests_run
